<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        body {
            background: #ddd9e0; /* Цвет фона и путь к файлу */
            background-size: cover;
            color: #262424; /* Цвет текста */
        }

        TABLE {
            width: 700px;
            margin: auto;
        }
        TD, TH {
            padding: 6px;
            border: 1px solid #312f2f;
        }

        TH {
            background: #d0b0e6;
        }
    </style>
</head>
<body>

<center><b>Личный кабинет администратора </b></center>
<br>
<center><b>Все пользователи:</b></center>

<br>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>


    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <div th:each="role : ${user.getRoles()}" th:text="${role.getRole()}"></div>
            </td>


            <td>
                <form th:method="GET" th:action="@{{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>

            <td>
                <form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
                    <input type="submit" value="Remove"/>
                </form>
            </td>

        </tr>
    </th:block>
</table>

<br/>

<div style="display:flex;justify-content:center;align-items:center;">
    <form th:method="GET" th:action="@{new}">
        <input type="submit" value="Add new user"/>
    </form>
</div>

<br/>

<div style="display:flex;justify-content:center;align-items:center;">
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout"/>

    </form>
</div>
</body>
</html>