<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<center><b>Заполните форму:</b></center>
<br>
<style>
    body {
        background: #e1d7e3; /* Цвет фона и путь к файлу */
        background-size: cover;
        color: #262424; /* Цвет текста */
    }
</style>
<div style="dispalay:flex;justify-content:center;align-items:center;">
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <br/>
        <label for="lastName">Last name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <br/>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <br/>
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <br/>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <br/>
        <select multiple name="listRoles[]" required="required">
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            <option value="ROLE_USER">ROLE_USER</option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Add new user"/>
        <br/>
    </form>
</div>
</body>
</html>